﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Design.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/StyleSheetIndex.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>

    <div  class="theDiv">
        
        <div class="headerDiv">
            <div class="naslovDiv">@ViewBag.Title</div>
            @if (Session["loggedInUser"] != null)
            {
                <div class="najavenDiv">Корисник: @ViewBag.Name @ViewBag.Surname</div>  
            }
            else
            {
                <div class="najavenDiv">@Html.ActionLink("Најави се", "Index", "Login")</div>
            }
        </div>
             
        <div class="theBodyDiv">
            <div id="idMenu">
                <ul>
                    <li>@Html.ActionLink("Табла", "Index", "Wall")</li>
                    <li>@Html.ActionLink("Пораки", "Index", "Chat")</li>
                    <li>@Html.ActionLink("Корисници", "Index", "User")</li>
                    <li>@Html.ActionLink("Профил", "Index", "Profile")</li>
                </ul>
            </div>
         
            <div class="renderDiv" style="float:left">
               @RenderBody()
            </div>
         </div>
    </div>
</body>
</html>
