﻿@model alumni.MetaModels.UserRequest
@{
    ViewBag.Title = "Корисници";
    ViewBag.Name = Model.loggedIn.name;
    ViewBag.Surname = Model.loggedIn.surname;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('p').click(function () {
            $('#x').val($(this).attr('id'));
            $('#action').val('0');
            $('#sub').click();
        });


        //Set default open/close settings
        $('.acc_container').hide(); //Hide/close all containers
        $('.acc_trigger:first').addClass('active').next().show(); //Add "active" class to first trigger, then show/open the immediate next container

        //On Click
        $('.acc_trigger').click(function () {
            if ($(this).next().is(':hidden')) { //If immediate next container is closed...
                $('.acc_trigger').removeClass('active').next().slideUp(); //Remove all .acc_trigger classes and slide up the immediate next container
                $(this).toggleClass('active').next().slideDown(); //Add .acc_trigger class to clicked trigger and slide down the immediate next container
            }
            return false; //Prevent the browser jump to the link anchor
        });

    });
</script>  

@using (Html.BeginForm())
{
    <div class="userIndexDiv">

        <div  style="float: left;" class="godini">
        @* STEF OVA VIDI SO KAKO E alumni.Controllers.Shared.getUsersByGeneration() ????*@
        @foreach (var godina in Model.users)
        {
            var god = godina.First.Value.year_attending;
            var fin = god + 4;
        
            <h4 class="acc_trigger godina"><a href="#">@god - @fin</a></h4>
            <div class="acc_container" style="display: none">
            @foreach (var user in godina)
            {
                <div class="block" style="float:left; width: 85%">
                <p id="@user.id"> <a href="#">@user.name @user.surname </a></p>
                </div>
            }
            </div>
        }
        </div>
        @if (Model.user != null)
        {
        <div class="userIndexBodyDiv">
            
            <div class="userSlika"> 
                slika
            </div>
            
            <div class="userInfo">
                
                    <p class="userText">&nbsp&nbsp Име:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.user.name</font></p> 
                    <p class="userText">&nbsp&nbsp Презиме:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.user.surname</font></p>
                    <p class="userText">&nbsp&nbsp Пол:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.user.gender</font></p>
                    <p class="userText">&nbsp&nbsp Дата на раѓање:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp @Model.dateOfBirth</font></p>
                    <p class="userText">&nbsp&nbsp Место на раѓање:<font class="userText1">&nbsp&nbsp&nbsp @Model.placeOfBirth</font></p>
                    <p class="userText">&nbsp&nbsp Телефон:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.phone</font></p>
                    <p class="userText">&nbsp&nbsp e-маил:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.email</font></p>
                    <p class="userText">&nbsp&nbsp Националност:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.nationality.text</font></p>
                    <p class="userText">&nbsp&nbsp Брачна состојба:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp @Model.martialStatus.text</font></p>
               
                  
            </div><!-- kraj na info -->
            
            <div class="userInteresi">
                <p>&nbsp</p>
                <hr />
                <p class="userText"> Интереси: </p>
                @foreach (var tmp in Model.interests)
                {
                    <p class="userText1"> @tmp.title - @tmp.description </p>
                }
            </div>

            <div class="userInteresi">
                <hr />
                <p class="userText"> Вештини: </p>
                @foreach (var tmp in Model.skills)
                {
                    <p class="userText1"> @tmp.title - @tmp.description </p>
                }
            </div>

            <div class="userInteresi">
                <hr />
                <p class="userText"> Едукација: </p>
                @foreach (var tmp in Model.educationInstitutions)
                {
                    <p class="userText1"> @tmp.educationInstitution.text - @tmp.educationInstitution.title (@tmp.from - @tmp.to)</p>
                    <p>&nbsp&nbsp&nbsp&nbsp @tmp.description </p>
                }
            </div>

            <div class="userInteresi">
                <hr />
                <p class="userText"> Работно искуство: </p>
                @foreach (var tmp in Model.workInstitutions)
                {
                    <p class="userText1"> @tmp.title (@tmp.from - @tmp.to) </p>
                }
            </div>

            <div class="userInteresi">
                <hr />
                <p class="userText"> Лични карактеристики: </p>
                @foreach (var tmp in Model.characteristics)
                {
                    <p class="userText1"> @tmp.title </p>
                }
            </div>

            <div class="userInteresi">
                <hr />
                <p class="userText"> Курсеви: </p>
                @foreach (var tmp in Model.courses)
                {
                    <p class="userText1"> @tmp.title (@tmp.from_date - @tmp.to) </p>
                    <p>&nbsp&nbsp&nbsp&nbsp @tmp.description </p>
                }
            </div>

            <div class="userInteresi">
                <hr />
                <p class="userText"> Достигнувања: </p>
                @foreach (var tmp in Model.achievements)
                {
                    <p class="userText1"> @tmp.what - @tmp.description (@tmp.when) </p>
                }
            </div>

            <div class="userInteresi">
                <hr />
                <p class="userText"> Проекти: </p>
                @foreach (var tmp in Model.projects)
                {
                    <p class="userText1"> @tmp.title - @tmp.description </p>
                    if (tmp.users.Count > 1)
                    {
                        <p>&nbsp&nbsp&nbsp&nbsp Изработиле: </p>
                        foreach (var user in tmp.users)
                        {
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @user.name @user.surname </p>
                        }
                    }
                }
            </div>

        </div>
        }

    </div>
    
    
    
    if (Model.user == null)
    {
        <input type="hidden" name="withUser" value="" id="x"/>
    }
        else
        {
        <input type="hidden" name="withUser" value="@Model.user.id" id="x"/>
        }
    <input type="hidden" name="action" value="" id="action"/>
    <input type="submit" value="13" id="sub" style="visibility : hidden"/>
}
