﻿/*Ovie stilovi se koristat samo za  _layout.cshtml*/
body {
}

Div.theMenu
{   
    width:205px;
    position:absolute;
    margin:0px;
    padding:0px;
}
Div#idMenu
{   
    width:150px;
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
}
#idMenu ul
{
    margin:0;
	padding:0;
	line-height: 58px;
}
#idMenu li
{
    margin:0;
	padding:0;
	list-style:none;
	background:white;
}
#idMenu ul li a {
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size:19px;
	text-decoration:none;
	height: 58px;
	width: 150px;
	display: block;
	color:rgb(220,20,60);
	
	border-radius: 29px 0px 0px 29px; 
    -moz-border-radius: 29px 0px 0px 29px; 
    -webkit-border-radius: 29px 0px 0px 29px;
	border:1px solid gray; 
}
#idMenu ul li a#here {
	background:#777;
}
#idMenu ul li a#here:hover {
	/*background:rgb(221,19,123);*/
	background:rgb(220,20,60);
}
#idMenu ul li a:hover 
{
    color:White;
	background:rgb(220,20,60);
	border-radius: 29px 0px 0px 29px; 
    -moz-border-radius: 29px 0px 0px 29px; 
    -webkit-border-radius: 29px 0px 0px 29px;

    border: 1px solid #800000;   
}
/* a */
a.lang {
	text-decoration:none;
	font-family: 'Ubuntu', sans-serif;
	color:#999;
}
a.lang:hover 
{ 
	color:rgb(0,19,123);
}


/* Layout classes */
Div.theDiv
{
    position:absolute;
    float:right;
    width:980px;
    margin:0px;
    padding:0px;
    margin-left:10%;
    margin-right:10%;
    /*background-color:Blue;*/
}
div.headerDiv
{
    position:relative;
    width:980px;
    height:30px;
    border-bottom:1px solid Gray;
}
div.naslovDiv
{
    position:absolute;
    top:0px;
    left:0px;
    width:580px;
    height:30px;
    /*background-color:Green;*/
    text-align:center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size:19px;
	color:rgb(220,20,60);
}
div.najavenDiv
{
    position:absolute;
    top:0px;
    right:0px;
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size:19px;
	color:Gray;
    width:400px;
    height:30px;
    /*background-color:Red;*/
}
div.theBodyDiv
{
    position:relative;
    top:12px;
    width:980px;
    float:left;
    /*background-color:Aqua;*/
}
div.renderDiv
{   
    width:830px;
    position:relative;
    top:0px;
    left:150px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	/*background-color:Fuchsia;*/	
}


.butonche 
{
    height:32px;
    border: 3px solid #cccccc;
    font-family: 'Ubuntu', sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
    -moz-border-radius:    15px 15px 15px 15px;
    -webkit-border-radius:  15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    vertical-align: middle;
    text-align:center;
    line-height:25px;
}