﻿body 
{
    z-index: 10;
    background-color: White;
}
hr
{
    color:Gray;
    height:1px;
}
#chatBaloon 
{
        width: 600px;
        height: 120px; 
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: 'Ubuntu', sans-serif;
        background-position: bottom right;
        background-repeat: no-repeat;
        border-radius:         29px 29px 29px 0px; 
        -moz-border-radius:    29px 29px 29px 0px; 
        -webkit-border-radius: 29px 29px 29px 0px;
}
div.thirdDiv
{
    margin:5px;
    margin-left:10px; 
    padding:5px; 
}

#idMenu ul
{
    margin:0;
	padding:0;
	line-height: 59px;
}
#idMenu li
{
    margin:0;
	padding:0;
	list-style:none;
	background:white;
}
#idMenu ul li a {
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size:19px;
	text-decoration:none;
	height: 59px;
	width: 150px;
	display: block;
	color:rgb(198,49,43);
	
	border-radius: 29px 0px 0px 29px; 
    -moz-border-radius: 29px 0px 0px 29px; 
    -webkit-border-radius: 29px 0px 0px 29px;
	border:1px solid gray; 
}

#idMenu ul li a#here {
	background:#777;
}
#idMenu ul li a#here:hover {
	/*background:rgb(221,19,123);*/
	background:rgb(198,49,43);
}
#idMenu ul li a:hover 
{
    color:White;
	background:rgb(198,49,43);
	border-radius: 29px 0px 0px 29px; 
    -moz-border-radius: 29px 0px 0px 29px; 
    -webkit-border-radius: 29px 0px 0px 29px;

    border: 1px solid #800000;   
}
.groupPic
{
    max-height:59px;
    max-width:59px;
    border-radius: 29px 29px 29px 29px; 
    -moz-border-radius: 29px 29px 29px 29px; 
    -webkit-border-radius: 29px 29px 29px 29px;
    padding: 0px;
    margin: 0px;
}


/* notif */
.notification
{
    position: relative;
    right: 15px;
    bottom: 15px;
    background-color: Red;
    color: White;
    font-weight : 900;
}

/* unread */
.unread
{

    
    float:right;
    width:20px;
    height:20px;
    position: relative;
    bottom:25px;
    display: block;
    font-weight:bold;    
    background-color: Red;
    vertical-align: middle;
    text-align: center;
    
    color: White;

    border-radius: 10px 10px 10px 10px; 
    -moz-border-radius:  10px 10px 10px 10px; 
    -webkit-border-radius:  10px 10px 10px 10px; 
    padding: 0px;
    margin: 0px;
}




/* za akordian */
html {
	overflow-Y: scroll;
}

*, * focus {
	outline: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 200px;
	margin: 0 auto;
}


.acc_trigger {
	padding: 0;	
	margin: 0;
	height: 26px;
	line-height: 26px;
	width: 200px;
	font-weight: normal;
    
}

.acc_trigger a 
{
    text-align:center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: gray;
	text-decoration: none;
	display: block;
	text-align:left;
	/*padding: 0 0 0 5px;*/
}

.acc_trigger a:hover {
	color: rgb(220,20,60);
}

.active 
{
    background-position: left bottom;
}
.acc_container {
	margin: 0 0 5px; padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	overflow: hidden;
	width: 200px;
	clear: both;
	background: #eeeeee;
	
	/*border: 1px solid #000; */
}

.acc_container .block {
	padding-left: 20px;
	porition:relative;
}
.acc_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}

.acc_container h3 {
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	border-bottom: 1px dashed #ccc;
}
.acc_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	background: #ddd;
	border: 1px solid #ccc;
}
.acc_container a 
{
    text-decoration: none;
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	color:black;
}
.acc_container a:hover 
{
    text-decoration: none;
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	color:rgb(220,20,60);
}

/*.godini 
{
    height : 100%;
}*/

/* Divovi za Wall.Index */

.wallIndexDiv
{
    width:830px;
    height:700px;
    position:relative;
    left:0px;
    top:0px;
}
.selectCategoryDiv
{
    position:absolute;
    
    top:0px;
    left:20px;
    width:100px;
    height:20px;
}
.wallIndexBodyDiv
{
    position:absolute;
    
    left:100px;
    top:0px;
    width:700px;   
}

/* Divovi za Chat.Index */

.chatIndexDiv
{
    width:830px;
 
    position:relative;
    left:0px;
    top:0px;
}
.slectChatUserDiv
{
    position:absolute;
    width:200px;
    top:0px;
    left:10px;
    padding-left:10px;
  
}
.chatIndexBodyDiv
{
    position:absolute;
    left:210px;
    top:0px;
    width:700px;
}
/* Divovi za Users.Index */
.userIndexDiv
{
    width:830px;
 
    position:relative;
    left:0px;
    top:0px;
}
.userIndexBodyDiv
{
    width:630px;
    max-width:670px;
    float:left;
}
.userSlika
{
    max-width:150px;
    max-height:165px;
    width:200px;
    height:250px;
    float:left;
    margin-top:12px;
    margin-left:12px;
    background-color:Red;
}
.userInfo
{
   /* width:486px;
    max-width:486px; */
    margin-top:12px;
    margin-left:12px;
}
.userTextInfo
{
    font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: rgb(220,20,60);
	height:19px;
}
.userText
{
    font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: rgb(220,20,60);
}
.userText1
{
    font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: Black;
}
.userInteresi
{
    position:relative;
    float:none;
    padding:12px;
}

/* Divovi za Profile.Index */
.profileIndexDiv
{
    
}
.profileOpciiDiv
{
    width:146px;
    max-width:146px;
    min-height:100px;
    float:left;
    text-align:center;
    margin-left:10px;
    border: 2px solid rgb(198,49,43);
    border-radius:         29px 29px 0px 29px; 
    -moz-border-radius:    29px 29px 0px 29px; 
    -webkit-border-radius: 29px 29px 0px 29px;
}
.profileIndexBodyDiv
{
    width:670px;
    max-width:670px;
    float:left;
}
.profSlika
{
    max-width:150px;
    max-height:165px;
    width:200px;
    height:250px;
    float:left;
    margin-top:12px;
    margin-left:12px;
    background-color:Red;
}
.profInfo
{
    width:486px;
    max-width:486px;
    margin-top:12px;
    margin-left:12px;
}
.profTextInfo
{
    font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: rgb(220,20,60);
	height:19px;
}
.profText
{
    font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: rgb(220,20,60);
}
.profText1
{
    font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: Black;
}
.profInteresi
{
    position:relative;
    float:none;
    padding:12px;
}

/* anchors */
a.wallKonChat:link    { font-family: 'Ubuntu', sans-serif; font-weight: 700;color:rgb(220,20,60); text-decoration:none; }
a.wallKonChat:visited { font-family: 'Ubuntu', sans-serif; font-weight: 700;color:rgb(220,20,60); text-decoration:none; }
a.wallKonChat:hover   { font-family: 'Ubuntu', sans-serif; font-weight: 700;color:rgb(220,20,60); text-decoration:none; }
a.wallKonChat:active  { font-family: 'Ubuntu', sans-serif; font-weight: 700;color:rgb(220,20,60); text-decoration:none; }

Div.popUpDiv 
{
    z-index:200;
    position:absolute;
    left:200px;
    top:200px;
    height:300px;
    width:300px;
    background-color:White;
    /* TODO */
    visibility:visible;
    
    border:2px solid gray;
    border-radius:          29px 0px 60px 60px; 
    -moz-border-radius:     29px 0px 60px 60px; 
    -webkit-border-radius:  29px 0px 60px 60px;
    
    
}
#chatBaloon1 
{
        width: 284px;
        max-width:284px;
        max-height:220px;
        height: 220px; 
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: 'Ubuntu', sans-serif;
        background-position: bottom right;
        background-repeat: no-repeat;
        border-radius:         29px 0px 0px 0px; 
        -moz-border-radius:    29px 0px 0px 0px; 
        -webkit-border-radius: 29px 0px 0px 0px;
}