﻿@model alumni.MetaModels.ChatRequest
@{
    ViewBag.Title = "Пораки";
    ViewBag.Name=Model.loggedInUser.name;
    ViewBag.Surname = Model.loggedInUser.surname;
}

@if (Model.withUser != null)
{
    <script type="text/javascript">

    function check() {
        var staro_vreme = "@Model.time";

        $.get("http://@Request.Url.Authority/Web?f=@Model.withUser.id&t=@Model.loggedInUser.id", function (novo_vreme) {
            var novo_vreme2 = novo_vreme.trim();
            if (staro_vreme!=novo_vreme2) {
                window.location.href = "http://@Request.Url.Authority/Chat?x=@Model.withUser.id";
            }
        });
        
        setTimeout("check()", 1000);

        };
    </script>
}
    <script type="text/javascript">

    $(document).ready(function () {
        $('textarea').keypress(function (e) {
            var tval = $('textarea').val();
            tlength = tval.length;
            set = 1000;
            remain = parseInt(set - tlength);
            if (remain <= 0 && e.which !== 0 && e.charCode !== 0) {
                $('textarea').val((tval).substring(0, tlength - 1))
            }
        });

        $('#chatBaloon').focus();
        $('#chatBaloon').bind('keypress', function (e) {
            if (e.which == 13) {
                if ($("input:checked").length == 1) {
                    $('#sendMessage').click();
                }
            }
        });


        $('p').click(function () {
            $('#x').val($(this).attr('id'));
            $('#action').val('0');
            $('#sub').click();
        });

        $('#sendMessage').click(function () {
            $('#action').val('1');
        });


        //Set default open/close settings
        $('.acc_container').hide(); //Hide/close all containers
        $('.acc_trigger:first').addClass('active').next().show(); //Add "active" class to first trigger, then show/open the immediate next container

        //On Click
        $('.acc_trigger').click(function () {
            if ($(this).next().is(':hidden')) { //If immediate next container is closed...
                $('.acc_trigger').removeClass('active').next().slideUp(); //Remove all .acc_trigger classes and slide up the immediate next container
                $(this).toggleClass('active').next().slideDown(); //Add .acc_trigger class to clicked trigger and slide down the immediate next container
            }
            return false; //Prevent the browser jump to the link anchor
        });
        setTimeout("check()", 2000);
    });
</script>  

@using (Html.BeginForm())
{
    <div class="chatIndexDiv">
    
      
    <div class="selectChatUserDiv">
    @foreach (var godina in Model.users)
    {
        var god = godina.First.Value.user.year_attending;
        var fin = god + 4;
        
        <div class="acc_trigger" id="@god"><a href="#">@god - @fin</a></div>
        <div class="acc_container">
        @foreach (var user in godina)
        {
            <div class="block" style="float:left; width: 85%">
            <p id="@user.user.id"> <a href="#">@user.user.name @user.user.surname </a></p>

            @if (user.unread > 0)
            {
                <div class="unread">@user.unread</div>
            }
            </div>
            
            
            if (Model.withUser != null)
            {
                if (user.user.id == Model.withUser.id)
                {
                    ViewBag.Title = "Пораки со: " + Model.withUser.name + " " + Model.withUser.surname;
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#@god').click();
                    });
                </script>
                }
            }
        }
        </div>
    }
    </div>
    
    <div class="chatIndexBodyDiv">
        <textarea name="content" id="chatBaloon"> </textarea> <br />
        <input type="submit" value="Прати порака" id="sendMessage"style="
                                     height:32px;
                                     border: 3px solid #cccccc;
                                     font-family: 'Ubuntu', sans-serif;
                                     background-position: bottom right;
                                     background-repeat: no-repeat;
                                     -moz-border-radius:    0px 0px 0px 15px;
                                     -webkit-border-radius:  0px 0px 0px 15px;
                                     -o-border-radius: 0px 0px 0px 15px;
                                     border-radius: 0px 0px 0px 15px;
                                     vertical-align: middle;
                                     text-align:center;
                                     line-height:25px;
                                     "/>
        &nbsp
        <input type="checkbox" checked="checked" id="send_on_enter" value="прати на ↵" />
        <label>прати на ↵</label>
        @if (Model.messages != null)
        {
            foreach (var poraka in Model.messages)
            {
                <div style="width:450px;">
                    <b>@poraka.from_user.name @poraka.from_user.surname :</b> @poraka.content <i>@poraka.when</i>
                </div>
            }
        }
    </div>
    </div>
    
        if (Model.withUser == null)
        {
        <input type="hidden" name="withUser" value="" id="x"/>
        }
        else
        {
        <input type="hidden" name="withUser" value="@Model.withUser.id" id="x"/>
        }
    <input type="hidden" name="action" value="" id="action"/>
    <input type="submit" value="13" id="sub" style="visibility : hidden"/>
    
    
}