﻿@model alumni.MetaModels.WallRequest
@{
    ViewBag.Title = "Табла";
    ViewBag.Name = Model.logged_in.name;
    ViewBag.Surname = Model.logged_in.surname;
}

<!-- linkovite za dejt pikerot -->
<link href="../../Content/datepicker_css/datepicker.css" rel="stylesheet" type="text/css" />
<link href="../../Content/datepicker_css/layout.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/datepicker_js/datepicker.js" type="text/javascript"></script>
<script src="../../Scripts/datepicker_js/eye.js" type="text/javascript"></script>
<script src="../../Scripts/datepicker_js/utils.js" type="text/javascript"></script>
<script src="../../Scripts/datepicker_js/layout.js" type="text/javascript"></script>

<!-- the clock that makes the datepicker tick :D:D -->
<script>
    $('#inputDate').DatePicker({
        format: 'm.d.Y',
        date: $('#inputDate').val(),
        current: $('#inputDate').val(),
        starts: 1,
        position: 'r',
        onBeforeShow: function () {
            $('#inputDate').DatePickerSetDate($('#inputDate').val(), true);
        },
        onChange: function (formated, dates) {
            $('#inputDate').val(formated);
            if ($('#closeOnSelect input').attr('checked')){
                $('#inputDate').DatePickerHide();
            }
        }
    });



</script>

<script>
    $(document).ready(function () {

        $('textarea').keypress(function (e) {
            var tval = $('textarea').val();
            tlength = tval.length;
            set = 1000;
            remain = parseInt(set - tlength);
            if (remain <= 0 && e.which !== 0 && e.charCode !== 0) {
                $('textarea').val((tval).substring(0, tlength - 1))
            }
        });


        $("[id$='_rep']").click(function () {
            $(".popUpDiv").hide(0).css({ visibility: "visible", display: "" });
            var id = $(this).attr('id');
            var orig_id = id.substring(0, id.length - 4);
            $('#tmp-action').val('3');
            $("#req_id").val(orig_id);
            $('#chatBaloon1').focus();
            $('#chatBaloon1').bind('keypress', function (e) {
                if (e.which == 13) {
                    if ($("input:checked").length == 1) {
                        $('#comment').click();
                    }
                }
            });
        });

        $("[id$='_req']").click(function () {
            $(".popUpDiv").hide(0).css({ visibility: "visible", display: "" });
            var id = $(this).attr('id');
            var orig_id = id.substring(0, id.length - 4);
            $('#tmp-action').val('2');
            $("#req_id").val(orig_id);
            $('#chatBaloon1').focus();
            $('#chatBaloon1').bind('keypress', function (e) {
                if (e.which == 13) {
                    if ($("input:checked").length == 1) {
                        $('#comment').click();
                    }
                }
            });
        });

        $("[id$='_repX']").click(function () {
            var id = $(this).attr('id');
            var orig_id = id.substring(0, id.length - 5);
            $('#action').val('6');
            $("#X_id").val(orig_id);
        //    alert("clear");
            $("#sub").click();
        });
        $("[id$='_reqX']").click(function () {
            var id = $(this).attr('id');
            var orig_id = id.substring(0, id.length - 5);
            $('#action').val('5');
            $("#X_id").val(orig_id);
        //    alert("clear");
                 $("#sub").click();
        });
        $("[id$='_notX']").click(function () {
            var id = $(this).attr('id');
            var orig_id = id.substring(0, id.length - 5);
            $('#action').val('7');
            $("#X_id").val(orig_id);
            //    alert("clear");
            $("#sub").click();
        });

        $("#ComClear").click(function () {
            $(".popUpDiv").hide(0).css({ visibility: "hidden", display: "" });
        });



    });
</script>

<script type="text/javascript">
    var zindex_times=0;
    $(document).ready(function () {
        $('#action').val(0);
        $("#post").click(function () {
                if($('#action').val()=='1'){
                    $('#from_to').val($('#date').html());
                }
                $('#sub').click();
        });

        $("#comment").click(function () {
         //       alert($("#chatBaloon1").text());
                $('#action').val($('#tmp-action').val());
                $('#sub').click();
        });

        $('.groupPicDiv').click(function () {
            //ne go menuvam id-to
            //ostana od groupPic takashto go zemam prvoto dete sega
            $('#x').val($(this).children().first().attr('id'));
            $('#action').val('4');
            $('#sub').click();
        });
        $('#clear').click(function () {
            $('#date').html("");

            var val = $('#date').html();
            if (val == "") {
                $('#action').val('0');
                $('#post').val('Објави известување');
            } else {
                $('#action').val('1');
                $('#post').val('Објави барање');
            }
        });

        $('#calendar_button').click(function () {
            var val = $('#date').html();
            if (val == "") {
                $('#action').val('0');
                $('#post').val('Објави известување');
            } else {
                $('#action').val('1');
                $('#post').val('Објави барање');
            }
        });
        $('#date').html("");
        $('div[id$="_icon"]').hover(function () {
        //hover in
            var id_title="#";
            id_title=id_title.concat($(this).attr('id'));
            id_title = id_title.concat("_text");
            $(id_title).css('z-index',"20");
            zindex_times++;

           if(zindex_times>0){
                $("#wallIndexBodyDiv").css('z-index',"-100");
            }

            $(this).css('background', 'rgb(198,49,43)');
            $(this).animate({ width: "190px" }, 250);


            

        }, function () {

                //hover out
                $(this).animate({
                    width: '79px',
                  }, {
                    duration: 250,
                    specialEasing: {
                      width: 'linear',
                      height: 'easeOutBounce'
                    },
                    complete: function() {
                    var id_title="#";
                    id_title=id_title.concat($(this).attr('id'));
                    //hover in
                    id_title = id_title.concat("_text");
                    $(id_title).css('z-index',"-120");
                      $(this).css('background', 'none');
                            zindex_times--;
                            if(zindex_times<=0){
                                $("#wallIndexBodyDiv").css('z-index',"10");
                                zindex_times=0;
                            }
                      }
                    });
           });
    });
</script>

@using (Html.BeginForm())
{
    <div class="wallIndexDiv">

        
        <div class="selectCategoryDiv">
            @foreach (var i in Model.categories)
            {

                if (i.id == Model.choosen_category)
                {
                    ViewBag.Title = i.name;
                }
              
               <div class="groupPicDiv" id="@(i.id)_icon" style="background: none; display: block; padding: 0px; margin: 0px;
                   max-height:59px; min-height:59px;
                   width:79px;
                       border-radius: 29px 29px 29px 29px; 
                        -moz-border-radius: 29px 29px 29px 29px; 
                        -webkit-border-radius: 29px 29px 29px 29px;
             /*           z-index: 20;*/
                        vertical-align: middle;">
                        @if (Request.Url.DnsSafeHost.CompareTo("localhost") == 0)
                        {
                            <img alt="@i.name" src="http://@Request.Url.Authority@Url.Content(i.url)" class="groupPic" id="@i.id" />
                        }
                        else
                        {
                            <img alt="@i.name" src="http://@Request.Url.DnsSafeHost@Url.Content(i.url)" class="groupPic" id="@i.id" />
                        }
                      <div id="@(i.id)_icon_text" style="vertical-align:middle;text-align:center;position:absolute; display:inline; color: White; z-index:-120;	font-weight: 700;">@i.name</div>  
            
                  
                  
                @if (i.unread > 0)
                {  
                    <div  style="display: inline" class="notification">@i.unread</div>
                }
                </div>
                <p style="font-size: 1px">&nbsp</p>
                 
            }
        </div>

        <div class="wallIndexBodyDiv" id="wallIndexBodyDiv">

            <textarea name="notif_content" id="chatBaloon"> </textarea> <br />
            <div  style="float:left"><input id="post" class="post_dugme" align="middle" type="button" value=" Објави известување " style="
                                     height:32px;
                                     border: 3px solid #cccccc;
                                     font-family: 'Ubuntu', sans-serif;
                                     background-position: bottom right;
                                     background-repeat: no-repeat;
                                     -moz-border-radius:    0px 0px 0px 15px;
                                     -webkit-border-radius:  0px 0px 0px 15px;
                                     -o-border-radius: 0px 0px 0px 15px;
                                     border-radius: 0px 0px 0px 15px;
                                     vertical-align: middle;
                                     text-align:center;
                                     line-height:25px;
                                     "/></div>

            <div id="widget" style="float:left"> 
	            <div id="widgetField" style="
                                     border: 3px solid #cccccc;
                                     background-color: #cccccc;
                                     font-family: 'Ubuntu', sans-serif;
                                     background-position: bottom right;
                                     background-repeat: no-repeat;
                                     vertical-align: middle;
                                     text-align:center;
                                     line-height:25px;
                                     ">
		            <span name="date" id="date" style="
                                     border: 0px;
                                     font-family: 'Ubuntu', sans-serif;
                                     background-position: bottom right;
                                     background-repeat: no-repeat;
                                     vertical-align: middle;
                                     text-align:center;
                                     ">&nbsp</span>
		            <a id="calendar_button" href="#" style="
                                     border: 0px;
                                     font-family: 'Ubuntu', sans-serif;
                                     background-position: bottom right;
                                     background-repeat: no-repeat;
                                     vertical-align: middle;
                                     text-align:center;
                                     line-height:25px;
                                     ">Select date range</a>
	            </div>
	            <div id="widgetCalendar">
	            </div>
            </div>
            <div  style="float:left"><input id="clear" class="clear"  align="middle" type="button" value="X "  style="
                                     height:32px;
                                     border: 3px solid #cccccc;
                                     padding: 5px;
                                     font-family: 'Ubuntu', sans-serif;
                                     background-position: bottom right;
                                     background-repeat: no-repeat;
                                     -moz-border-radius:    0px 0px 15px 0px;
                                     -webkit-border-radius:  0px 0px 15px 0px;
                                     -o-border-radius:  0px 0px 15px 0px;
                                     border-radius: 0px 0px 15px 0px;
                                     vertical-align: middle;
                                     text-align:center;
                                     line-height:25px;
                                     "/></div>
            <br />

            <div style="max-width: 750px">
                @if (Model.choosen_category != 0)
                {
                    foreach (var kategorija in Model.categories)
                    {
                        foreach (var notifikacija in kategorija.notifications)
                        {
                            if (notifikacija is alumni.MetaModels.Request)
                            {
                                alumni.MetaModels.Request req = (alumni.MetaModels.Request)notifikacija;
                                <div>
                                <p>&nbsp</p>
                                    <p>
                                        
                                        <!-- @Html.ActionLink(req.user.name.ToString() + " " + req.user.surname.ToString(), "Index", "Chat", new { x = req.user.id }, null) -->
                                        <a class="wallKonChat" href="/Chat?x=@req.user.id" title="Пораки со @req.user.name @req.user.surname"> @req.user.name @req.user.surname </a>
                                        @req.content 
                                    </p>
                                    <p style="font-family: 'Ubuntu', sans-serif; font-weight: 500;color:Gray;">&nbsp&nbsp&nbsp @req.available_from - @req.available_to  <img  id="@(req.id)_req" src="Content/pics/replyFull.png" alt="K-" title="Врати" /> 
                                    @if (req.user.id == Model.logged_in.id)
                                    {
                                        <img  id="@(req.id)_reqX" src="Content/pics/X.png" alt="X" title="Избриши" style="width:17px;height:17px;" />
                                    }
                                    </p>

                                </div>
                                    foreach (var rep in req.replays)
                                    {
                                        int tabs = 1;
                                        alumni.MetaModels.Reply reply = rep;

                                        while (reply != null)
                                        {
                                        <span style="float: left; min-width:@{@tabs;}0px;">&nbsp</span>
                    
                                        <span style="float: left; max-width:@{@(70 - tabs);}0px; min-width:@{@(70 - tabs);}0px;">
                                            <a class="wallKonChat" href="/Chat?x=@reply.user.id" title="Пораки со @reply.user.name @reply.user.surname"> @reply.user.name @reply.user.surname </a>
                                            @reply.content
                                        <font style="font-family: 'Ubuntu', sans-serif; font-weight: 500;color:Gray;">
                                            @reply.when                                  
                                        </font>

                                            <img id="@(reply.id)_rep" src="Content/pics/reply.png" alt="K-" title="Врати" />
                                            
                                            @if (reply.user.id == Model.logged_in.id)
                                            {
                                                <img  id="@(reply.id)_repX" src="Content/pics/X.png" alt="X" title="Избриши" style="width:17px;height:17px;" />
                                            }
                                        </span>

                                            
                                   
                                
                                            if (reply.replays.Count > 0)
                                            {
                                                reply = reply.replays.First();
                                                tabs++;
                                            }
                                            else
                                            {
                                                if (reply.father != null)
                                                {
                                                    if (reply.father.replays.Find(reply).Next != null)
                                                    {
                                                        reply = reply.father.replays.Find(reply).Next.Value;
                                                    }
                                                    else
                                                    {
                                                        alumni.MetaModels.Reply tmp = reply;
                                                        alumni.MetaModels.Reply son = null;
                                                        while (tmp.father != null)
                                                        {
                                                            son = tmp;
                                                            tmp = tmp.father;
                                                            tabs--;
                                                            if (tmp.replays.Find(son).Next != null)
                                                            {
                                                                break;
                                                            }
                                                        }

                                                        if (son == null)
                                                        {
                                                            break;
                                                        }
                                                        if (tmp.replays.Find(son).Next != null)
                                                        {
                                                            tabs++;
                                                            reply = tmp.replays.Find(son).Next.Value;
                                                        }
                                                        else
                                                        {
                                                            break;
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }
                                        }
                                    }
                            }
                            else
                            {
                                <p>&nbsp</p>
                                <div style="max-width: 750px;display:inline">   
                                    <p>
                                        <a class="wallKonChat" href="/Chat?x=@notifikacija.user.id" title="Пораки со @notifikacija.user.name @notifikacija.user.surname"> @notifikacija.user.name @notifikacija.user.surname </a>
                                        
                                        @notifikacija.content
                                    </p>
                                    <p style="font-family: 'Ubuntu', sans-serif; font-weight: 500;color:Gray;">&nbsp&nbsp&nbsp @notifikacija.when
                                        @if (notifikacija.user.id == Model.logged_in.id)
                                        {
                                            <img  id="@(notifikacija.id)_notX" src="Content/pics/X.png" alt="X" title="Избриши" style="width:17px;height:17px;" />
                                        } 
                                    </p>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>


        <div class="popUpDiv" style="visibility:hidden;">
            <textarea name="response_text" id="chatBaloon1"> </textarea>
            <center>
            <input id="comment" class="post_dugme" align="middle" type="button" value=" Одговори " style="
                                     height:32px;
                                     border: 3px solid #cccccc;
                                     font-family: 'Ubuntu', sans-serif;
                                     background-position: bottom right;
                                     background-repeat: no-repeat;
                                     -moz-border-radius:    0px 0px 0px 15px;
                                     -webkit-border-radius:  0px 0px 0px 15px;
                                     -o-border-radius: 0px 0px 0px 15px;
                                     border-radius: 0px 0px 0px 15px;
                                     vertical-align: middle;
                                     text-align:center;
                                     line-height:25px;
                                     "/> 

            <input id="ComClear" class="clear"  align="middle" type="button" value="X "  style="
                                     height:32px;
                                     border: 3px solid #cccccc;
                                     padding: 5px;
                                     font-family: 'Ubuntu', sans-serif;
                                     background-position: bottom right;
                                     background-repeat: no-repeat;
                                     -moz-border-radius:    0px 0px 15px 0px;
                                     -webkit-border-radius:  0px 0px 15px 0px;
                                     -o-border-radius:  0px 0px 15px 0px;
                                     border-radius: 0px 0px 15px 0px;
                                     vertical-align: middle;
                                     text-align:center;
                                     line-height:25px;
                                     "/> 
            <div>
            <input type="checkbox" checked="checked" id="send_on_enter" value="прати на ↵"/>
            <label>прати на ↵</label>
            </div>
             </center> 
        </div>


        <input type="hidden" name="action" value="0" id="action"/>
        <input type="hidden" value="" id="tmp-action"/>
        <input type="hidden" name="user_id" value="@Model.logged_in.id" id="user_id"/>
        <input type="hidden" name="choosen_category" value="@Model.choosen_category" id="x"/>
        <input type="hidden" name="from_to" id="from_to" />
        <input type="hidden" name="response_to_req_id" value="" id="req_id"/>
        <input type="submit" value="13" id="sub" style="visibility : hidden"/>
       
        <input type="hidden" name="delete_id" id="X_id"/>
    </div>  
}