﻿@model LinkedList<LinkedList<alumni.Models.User>>
@{
    ViewBag.Title = "Најава";
}

@using (Html.BeginForm()){


<div style="padding-left:20px;">

@foreach(var a in Model){
    foreach (var b in a)
    {
        <input type="radio" title="@b.name @b.surname" value="@b.id" name="userID"/>
        <label>@b.name @b.surname</label>
        <br />
    }
}
<input type="submit" value="Најави се" class="butonche"/>
</div>

}
