﻿@model alumni.MetaModels.HisCV
@{
    ViewBag.Title = "Ажурирање на профилот";
    ViewBag.Name = Model.user.name;
    ViewBag.Surname = Model.user.surname;
}
<script type="text/javascript">
var zindex_times = 0;
var new_projets = 0;

    function set_kalendars() 
    {    
         $(".kalendar").datepicker({ dateFormat: 'dd.mm.yy' }); 
    };

    
    $(document).ready(function () {

        $(function () {
        $(".kalendar").datepicker({ dateFormat: 'dd.mm.yy' });
        });

        $('.profSlika').hover(function () {
            //hover in
            $(this).css('overflow', 'visible');
            $(this).css('z-index', '120');  
        }, function () {
            //hover in
            $(this).css('overflow', 'hidden');
            $(this).css('z-index', '10');
        });
    });


    function no_new_combo() {
        //     alert("vleguvam");

        $(".no_new_combobox").no_new_combobox();
        $("#toggle").click(function () {
            $(this).toggle();
        });

        $.widget("ui.no_new_combobox", {
            _create: function () {
                var self = this,
					select = this.element.hide(),
					selected = select.children(":selected"),
					value = selected.val() ? selected.text() : "";
                var input = this.input = $("<input>")
					.insertAfter(select)
					.val(value)
					.autocomplete({
					    delay: 0,
					    minLength: 0,
					    source: function (request, response) {
					        var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
					        response(select.children("option").map(function () {
					            var text = $(this).text();
					            if (this.value && (!request.term || matcher.test(text)))
					                return {
					                    label: text.replace(
											new RegExp(
												"(?![^&;]+;)(?!<[^<>]*)(" +
												$.ui.autocomplete.escapeRegex(request.term) +
												")(?![^<>]*>)(?![^&;]+;)", "gi"
											), "<strong>$1</strong>"),
					                    value: text,
					                    option: this
					                };
					        }));
					    },
					    select: function (event, ui) {
					        ui.item.option.selected = true;
					        self._trigger("selected", event, {
					            item: ui.item.option
					        });
					    },
					    change: function (event, ui) {
					        if (!ui.item) {
					            var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex($(this).val()) + "$", "i"),
									valid = false;
					            select.children("option").each(function () {
					                if ($(this).text().match(matcher)) {
					                    this.selected = valid = true;
					                    return false;
					                }
					            });
					            if (!valid) {
					                // remove invalid value, as it didn't match anything
					            //    alert("ne editibilno");
					                //
					                //
					                //
					                $(this).val("");
					                select.val("");
					                input.data("autocomplete").term = "";
					                return false;
					            }
					        }
					    }
					})
					.addClass("ui-widget ui-widget-content ui-corner-left");

                input.data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li></li>")
						.data("item.autocomplete", item)
						.append("<a>" + item.label + "</a>")
						.appendTo(ul);
                };

                this.button = $("<button type='button'>&nbsp;</button>")
					.attr("tabIndex", -1)
					.attr("title", "Show All Items")
					.insertAfter(input)
					.button({
					    icons: {
					        primary: "ui-icon-triangle-1-s"
					    },
					    text: false
					})
					.removeClass("ui-corner-all")
					.addClass("ui-corner-right ui-button-icon")
					.click(function () {
					    // close if already visible
					    if (input.autocomplete("widget").is(":visible")) {
					        input.autocomplete("close");
					        return;
					    }

					    // work around a bug (likely same cause as #5265)
					    $(this).blur();

					    // pass empty string as value to search for, displaying all results
					    input.autocomplete("search", "");
					    input.focus();
					});
            },

            destroy: function () {
                this.input.remove();
                this.button.remove();
                this.element.show();
                $.Widget.prototype.destroy.call(this);
            }
        });
    }


    (function no_new_combo() {
        //     alert("vleguvam");
        $.widget("ui.no_new_combobox", {
            _create: function () {
                var self = this,
					select = this.element.hide(),
					selected = select.children(":selected"),
					value = selected.val() ? selected.text() : "";
                var input = this.input = $("<input>")
					.insertAfter(select)
					.val(value)
					.autocomplete({
					    delay: 0,
					    minLength: 0,
					    source: function (request, response) {
					        var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
					        response(select.children("option").map(function () {
					            var text = $(this).text();
					            if (this.value && (!request.term || matcher.test(text)))
					                return {
					                    label: text.replace(
											new RegExp(
												"(?![^&;]+;)(?!<[^<>]*)(" +
												$.ui.autocomplete.escapeRegex(request.term) +
												")(?![^<>]*>)(?![^&;]+;)", "gi"
											), "<strong>$1</strong>"),
					                    value: text,
					                    option: this
					                };
					        }));
					    },
					    select: function (event, ui) {
					        ui.item.option.selected = true;
					        self._trigger("selected", event, {
					            item: ui.item.option
					        });
					    },
					    change: function (event, ui) {
					        if (!ui.item) {
					            var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex($(this).val()) + "$", "i"),
									valid = false;
					            select.children("option").each(function () {
					                if ($(this).text().match(matcher)) {
					                    this.selected = valid = true;
					                    return false;
					                }
					            });
					            if (!valid) {
					                // remove invalid value, as it didn't match anything
					            //    alert("ne editibilno");
					                //
					                //
                                    //

					                $(this).val("");
					                select.val("");
					                input.data("autocomplete").term = "";
					                return false;
					            }
					        }
					    }
					})
					.addClass("ui-widget ui-widget-content ui-corner-left");

                input.data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li></li>")
						.data("item.autocomplete", item)
						.append("<a>" + item.label + "</a>")
						.appendTo(ul);
                };

                this.button = $("<button type='button'>&nbsp;</button>")
					.attr("tabIndex", -1)
					.attr("title", "Show All Items")
					.insertAfter(input)
					.button({
					    icons: {
					        primary: "ui-icon-triangle-1-s"
					    },
					    text: false
					})
					.removeClass("ui-corner-all")
					.addClass("ui-corner-right ui-button-icon")
					.click(function () {
					    // close if already visible
					    if (input.autocomplete("widget").is(":visible")) {
					        input.autocomplete("close");
					        return;
					    }

					    // work around a bug (likely same cause as #5265)
					    $(this).blur();

					    // pass empty string as value to search for, displaying all results
					    input.autocomplete("search", "");
					    input.focus();
					});
            },

            destroy: function () {
                this.input.remove();
                this.button.remove();
                this.element.show();
                $.Widget.prototype.destroy.call(this);
            }
        });
    })(jQuery);

    $(function () {
        $(".no_new_combobox").no_new_combobox();
        $("#toggle").click(function () {
            $(this).toggle();
        });
    });

    function combo() {
        $('.combobox').combobox();
        
        $("#toggle").click(function () {
            $(this).toggle();
        });

        $.widget("ui.combobox", {
            _create: function () {
                var self = this,
					select = this.element.hide(),
					selected = select.children(":selected"),
					value = selected.val() ? selected.text() : "";
                var input = this.input = $("<input>")
					.insertAfter(select)
					.val(value)
					.autocomplete({
					    delay: 0,
					    minLength: 0,
					    source: function (request, response) {
					        var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
					        response(select.children("option").map(function () {
					            var text = $(this).text();
					            if (this.value && (!request.term || matcher.test(text)))
					                return {
					                    label: text.replace(
											new RegExp(
												"(?![^&;]+;)(?!<[^<>]*)(" +
												$.ui.autocomplete.escapeRegex(request.term) +
												")(?![^<>]*>)(?![^&;]+;)", "gi"
											), "<strong>$1</strong>"),
					                    value: text,
					                    option: this
					                };
					        }));
					    },
					    select: function (event, ui) {
					        ui.item.option.selected = true;
					        self._trigger("selected", event, {
					            item: ui.item.option
					        });
					    },
					    change: function (event, ui) {
					        if (!ui.item) {
					            var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex($(this).val()) + "$", "i"),
									valid = false;
					            select.children("option").each(function () {
					                if ($(this).text().match(matcher)) {
					                    this.selected = valid = true;
					                    return false;
					                }
					            });
					            if (!valid) {
					                // remove invalid value, as it didn't match anything
					         //       $(this).val("");
					         //       select.val("");
					         //       input.data("autocomplete").term = "";
					        //        var html = $(this).father().html();
					                //       html.innerHTML += "<option value='0'>"+$(this).val("")+"</option>";
					            //    alert("editibilno");
					                //
					                //

					                select.val("");
					                input.data("autocomplete").term = $(this).val();
					                //
                               //     alert($(this).val()+" aaa \n"+select.html());
                                    select.html(select.html()+"<option  selected='true' value='0^"+$(this).val()+"'>"+$(this).val()+"<option>");
                               //     alert($(this).val()+" aaa \n"+select.html());
                                    select.val('0^'+$(this).val());

					                return true;
					            }
					        }
					    }
					})
					.addClass("ui-widget ui-widget-content ui-corner-left");

                input.data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li></li>")
						.data("item.autocomplete", item)
						.append("<a>" + item.label + "</a>")
						.appendTo(ul);
                };

                this.button = $("<button type='button'>&nbsp;</button>")
					.attr("tabIndex", -1)
					.attr("title", "Show All Items")
					.insertAfter(input)
					.button({
					    icons: {
					        primary: "ui-icon-triangle-1-s"
					    },
					    text: false
					})
					.removeClass("ui-corner-all")
					.addClass("ui-corner-right ui-button-icon")
					.click(function () {
					    // close if already visible
					    if (input.autocomplete("widget").is(":visible")) {
					        input.autocomplete("close");
					        return;
					    }

					    $(this).blur();

					    // pass empty string as value to search for, displaying all results
					    input.autocomplete("search", "");
					    input.focus();
					});
            },

            destroy: function () {
                this.input.remove();
                this.button.remove();
                this.element.show();
                $.Widget.prototype.destroy.call(this);
            }
        });

    };

    (function () {
   //     alert("vleguvam");
        $.widget("ui.combobox", {
            _create: function () {
                var self = this,
					select = this.element.hide(),
					selected = select.children(":selected"),
					value = selected.val() ? selected.text() : "";
                var input = this.input = $("<input>")
					.insertAfter(select)
					.val(value)
					.autocomplete({
					    delay: 0,
					    minLength: 0,
					    source: function (request, response) {
					        var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
					        response(select.children("option").map(function () {
					            var text = $(this).text();
					            if (this.value && (!request.term || matcher.test(text)))
					                return {
					                    label: text.replace(
											new RegExp(
												"(?![^&;]+;)(?!<[^<>]*)(" +
												$.ui.autocomplete.escapeRegex(request.term) +
												")(?![^<>]*>)(?![^&;]+;)", "gi"
											), "<strong>$1</strong>"),
					                    value: text,
					                    option: this
					                };
					        }));
					    },
					    select: function (event, ui) {
					        ui.item.option.selected = true;
					        self._trigger("selected", event, {
					            item: ui.item.option
					        });
					    },
					    change: function (event, ui) {
					        if (!ui.item) {
					            var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex($(this).val()) + "$", "i"),
									valid = false;
					            select.children("option").each(function () {
					                if ($(this).text().match(matcher)) {
					                    this.selected = valid = true;
					                    return false;
					                }
					            });
					            if (!valid) {
					                // remove invalid value, as it didn't match anything
					         //       $(this).val("");
					         //       select.val("");
					         //       input.data("autocomplete").term = "";
					        //        var html = $(this).father().html();
					                //       html.innerHTML += "<option value='0'>"+$(this).val("")+"</option>";
					         //       alert("editibilno");
					                //
					                //

					                select.val("");
					                input.data("autocomplete").term = $(this).val();
					                //
                               //     alert($(this).val()+" aaa \n"+select.html());
                                    select.html(select.html()+"<option selected='true' value='0^"+$(this).val()+"'>"+$(this).val()+"<option>");
                                 //   alert($(this).val()+" aaa \n"+select.html());
                                    select.val('0^'+$(this).val());
                               //     select.click();
					                return true;
					            }
					        }
					    }
					})
					.addClass("ui-widget ui-widget-content ui-corner-left");

                input.data("autocomplete")._renderItem = function (ul, item) {
                    return $("<li></li>")
						.data("item.autocomplete", item)
						.append("<a>" + item.label + "</a>")
						.appendTo(ul);
                };

                this.button = $("<button type='button'>&nbsp;</button>")
					.attr("tabIndex", -1)
					.attr("title", "Show All Items")
					.insertAfter(input)
					.button({
					    icons: {
					        primary: "ui-icon-triangle-1-s"
					    },
					    text: false
					})
					.removeClass("ui-corner-all")
					.addClass("ui-corner-right ui-button-icon")
					.click(function () {
					    // close if already visible
					    if (input.autocomplete("widget").is(":visible")) {
					        input.autocomplete("close");
					        return;
					    }

					    // work around a bug (likely same cause as #5265)
					    $(this).blur();

					    // pass empty string as value to search for, displaying all results
					    input.autocomplete("search", "");
					    input.focus();
					});
            },

            destroy: function () {
                this.input.remove();
                this.button.remove();
                this.element.show();
                $.Widget.prototype.destroy.call(this);
            }
        });
    })(jQuery);

    $(function () {
        $(".combobox").combobox();
        $("#toggle").click(function () {
            $(this).toggle();
        });
    });



    $(document).ready(function () {

        $('#addInteres').click(function () {
            var theHtml = document.getElementById("interesi");
            theHtml.innerHTML += "<label>Интерес: </label><select id='addEduCombo' class='combobox interestSelector' maxlength='100'>@foreach (var temp in Model.InteresDDL)
                                                                                                                                     {<option value='@temp.ID^@temp.title'>@temp.title</option>}</select><br />";
            theHtml.innerHTML += "<label>Опис: </label><input class='profText1 interestSelectorDescription' maxlength='1000' style='width:91%;height:50px;' type='text' value='' /><br />";
            combo();
            no_new_combo();
        });
        $('#addVestini').click(function () {
            var theHtml = document.getElementById("vestini");
            theHtml.innerHTML += "<label>Вештина: </label><select id='addVestini' class='combobox skillSelector' maxlength='100'>@foreach (var temp in Model.SkillsDDL)
                                                                                                                                 {<option value='@temp.ID^@temp.title'>@temp.title</option>}</select><br />";
            theHtml.innerHTML += "<label>Опис: </label><input class='profText1 skillSelectorDescription' maxlength='1000' style='width:91%;height:50px;' type='text' value='' /><br />";
            combo();
            no_new_combo();
        });
        $('#addEdu').click(function () {
            var theHtml = document.getElementById("edu");
            theHtml.innerHTML += "<label>Тип: </label><select class='eduTypeSelector'>@foreach (var temp in Model.EduTypeDDL)
                                                                                      {<option value='@temp.ID'>@temp.text</option>}</select>";
            theHtml.innerHTML += "<label>Назив: </label><select id='addEduCombo' class='combobox eduInstSelector'>@foreach (var temp in Model.EduInstDDL)
                                                                                                                  {<option value='@temp.ID^@temp.title'>@temp.title</option>}</select><br />";
            theHtml.innerHTML += "<label>од: </label><input class='kalendar eduKalendarOdSel' class='profText1' type='text' value='' />";
            theHtml.innerHTML += "<label>до: </label><input class='kalendar eduKalendarDoSel' class='profText1' type='text' value='' /><br />";
            theHtml.innerHTML += "<label>Опис: </label><input class='profText1 eduOpisSel' maxlength='1000' style='width:91%;height:50px;' type='text' value='' /><br />";
            combo();
            no_new_combo();
            set_kalendars();
        });
        $('#addExp').click(function () {
            var theHtml = document.getElementById("exp");
            theHtml.innerHTML += "<label>Назив: </label><select id='addExp' class='combobox expInstSelector'>@foreach (var temp in Model.WorkInstDDL)
                                                                                                             {<option value='@temp.ID^@temp.title'>@temp.title</option>}</select><br />";
            theHtml.innerHTML += "<label>од: </label><input class='kalendar expKalendarOdSel' class='profText1' type='text' value='' />";
            theHtml.innerHTML += "<label>до: </label><input class='kalendar expKalendarDoSel' class='profText1' type='text' value='' /><br />";
            combo();
            no_new_combo();
            set_kalendars();
        });
        $('#addPersonC').click(function () {
            var theHtml = document.getElementById("personC");
            theHtml.innerHTML += "<label>Карактеристика: </label><input class='profText1 karakSel' maxlength='1000' style='width:75%' type='text' value='' /><br />";
        });
        $('#addCourse').click(function () {
            var theHtml = document.getElementById("course");
            theHtml.innerHTML += "<label>Назив: </label><input class='profText1 courseNameSel' maxlength='100' type='text' value='' /><br />";
            theHtml.innerHTML += "<label>од: </label><input class='kalendar courseKalendarOdSel' class='profText1' type='text' value='' />";
            theHtml.innerHTML += "<label>до: </label><input class='kalendar courseKalendarDoSel' class='profText1' type='text' value='' /><br />";
            theHtml.innerHTML += "<label>Опис: </label><input class='profText1 courseOpisSel' maxlength='1000' style='width:91%;height:50px;' type='text' value='' /><br />";
            set_kalendars();
        });
        $('#addAch').click(function () {
            var theHtml = document.getElementById("ach");
            theHtml.innerHTML += "<label>Назив: </label><input class='profText1 achieveNameSel' maxlength='100' type='text' value='' />";
            theHtml.innerHTML += "<label>Дата: </label><input class='kalendar profText1 achieveKogaSel' maxlength='100' type='text' value='' /><br />";
            theHtml.innerHTML += "<label>Опис: </label><input class='profText1 achieveOpisSel' maxlength='1000' style='width:91%;height:50px;' type='text' value='' /><br />";
            set_kalendars();
        });
        $('#addProj').click(function () {
            new_projets++;
            var theHtml = document.getElementById("proj");
            theHtml.innerHTML += "<label>Назив: </label><input class='profText1 projTitleSel' maxlength='100' type='text' value='' /><br />";
            theHtml.innerHTML += "<label>Опис: </label><input class='profText1 projDescSel' maxlength='1000' style='width:91%;height:50px;' type='text' value='' /><br />";
            theHtml.innerHTML += "<label>Соработници: </label><div style='max-height:300px;overflow: auto;'><form>@foreach (var sorabotnik in alumni.Controllers.Shared.sortedUsers)
                                                                                                                               {<input title='new"+new_projets+"' class='projCoWorkersSel' type='checkbox' value='@sorabotnik.id' /> @sorabotnik.name @sorabotnik.surname <br />}</form></div>";
        });

        $('#saveCommit').click(function () {

            $('#quit').click();
            
            //reset na polinja posle klik
            $('#nationality').val("");
            $('#interests').val("");
            $('#skills').val("");
            $('#educationInstitutions').val("");
            $('#work').val("");
            $('#characteristics').val("");
            $('#courses').val("");
            $('#achievements').val("");
            $('#project').val("");

            //ova e za nationality
            $('#nationality').val($('#nationalityID').val());
            
            //ova e za interesi
            $('.interestSelector').each(function () {
                $('#interests').val($('#interests').val() + '#' + $(this).val());
            });
            $('#interests').val($('#interests').val() + '|');
            $('.interestSelectorDescription').each(function () {
                $('#interests').val($('#interests').val() + '#' + $(this).val());
            });

            //ova e za vestini
            $('.skillSelector').each(function () {
                $('#skills').val($('#skills').val() + '#' + $(this).val());
            });
            $('#skills').val($('#skills').val() + '|');
            $('.skillSelectorDescription').each(function () {
                $('#skills').val($('#skills').val() + '#' + $(this).val());
            });

            //ova e za edukacija
            $('.eduTypeSelector').each(function () {
                $('#educationInstitutions').val($('#educationInstitutions').val() + '#' + $(this).val());
            });
            $('#educationInstitutions').val($('#educationInstitutions').val() + '|');
            $('.eduInstSelector').each(function () {
                $('#educationInstitutions').val($('#educationInstitutions').val() + '#' + $(this).val());
            });
            $('#educationInstitutions').val($('#educationInstitutions').val() + '|');
            $('.eduKalendarOdSel').each(function () {
                $('#educationInstitutions').val($('#educationInstitutions').val() + '#' + $(this).val());
            });
            $('#educationInstitutions').val($('#educationInstitutions').val() + '|');
            $('.eduKalendarDoSel').each(function () {
                $('#educationInstitutions').val($('#educationInstitutions').val() + '#' + $(this).val());
            });
            $('#educationInstitutions').val($('#educationInstitutions').val() + '|');
            $('.eduOpisSel').each(function () {
                $('#educationInstitutions').val($('#educationInstitutions').val() + '#' + $(this).val());
            });

            //ova e za iskustvo
            $('.expInstSelector').each(function () {
                $('#work').val($('#work').val() + '#' + $(this).val());
            });
            $('#work').val($('#work').val() + '|');
            $('.expKalendarOdSel').each(function () {
                $('#work').val($('#work').val() + '#' + $(this).val());
            });
            $('#work').val($('#work').val() + '|');
            $('.expKalendarDoSel').each(function () {
                $('#work').val($('#work').val() + '#' + $(this).val());
            });

            //ova e za karakteristiki
            $('.karakSel').each(function () {
                $('#characteristics').val($('#characteristics').val() + '#' + $(this).val());
            });

            //ova e za kursevi
            $('.courseNameSel').each(function () {
                $('#courses').val($('#courses').val() + '#' + $(this).val());
            });
            $('#courses').val($('#courses').val() + '|');
            $('.courseOpisSel').each(function () {
                $('#courses').val($('#courses').val() + '#' + $(this).val());
            });
            $('#courses').val($('#courses').val() + '|');
            $('.courseKalendarOdSel').each(function () {
                $('#courses').val($('#courses').val() + '#' + $(this).val());
            });
            $('#courses').val($('#courses').val() + '|');
            $('.courseKalendarDoSel').each(function () {
                $('#courses').val($('#courses').val() + '#' + $(this).val());
            });

            //ova e za achievements
            $('.achieveNameSel').each(function () {
                $('#achievements').val($('#achievements').val() + '#' + $(this).val());
            });
            $('#achievements').val($('#achievements').val() + '|');
            $('.achieveKogaSel').each(function () {
                $('#achievements').val($('#achievements').val() + '#' + $(this).val());
            });
            $('#achievements').val($('#achievements').val() + '|');
            $('.achieveOpisSel').each(function () {
                $('#achievements').val($('#achievements').val() + '#' + $(this).val());
            });

            //ova e za projects
            $('.projTitleSel').each(function () {
                $('#project').val($('#project').val() + '#' + $(this).val());
            });
            $('#project').val($('#project').val() + '|');
            $('.projDescSel').each(function () {
                $('#project').val($('#project').val() + '#' + $(this).val());
            });
            $('#project').val($('#project').val() + '|');
            $("input:checked").each( function() {
                $('#project').val($('#project').val() + '#' + $(this).attr('title')+ '^' +$(this).val());
            });
            $('#sub').click();
        });
    });
</script>

@using (Html.BeginForm())
{
    <input id="sub" type="submit" style='visibility:hidden'/>
    <div ="profileIndexDiv">
        <div class="profileOpciiDiv">
            Опции
            <br />
            <input type="button" value="Зачувај" id="saveCommit" class="butonche"/>
            <br />
            <a href="Index"><input id="quit" type="button" value="Откажи" class="butonche"/></a>
        </div>
        <div class="profileIndexBodyDiv">
            <div class="profInteresi">
                <div class="profSlika" style="position:relative; width: 150px; overflow: hidden;"> 
                    <img src="@Model.user.picture_url" alt="slika" width=150px style="width: 150px;"/>
                </div>
                <div class="profInfo">
                    <div style="float:left; margin-left:12px;">
                        <p class="profTextInfo" > Име: </p> 
                        <p class="profTextInfo" > Презиме: </p>
                        <p class="profTextInfo" > Пол: </p>
                        <p class="profTextInfo" > Дата на раѓање: </p>
                        <p class="profTextInfo" > Место на раѓање: </p>
                        <p class="profTextInfo" > Телефон: </p>
                        <p class="profTextInfo" > e-маил: </p>
                        <p class="profTextInfo" > Националност: </p>
                        <p class="profTextInfo" > Брачна состојба: </p>
                    </div>
                    <div style="width:500px;">
                        <input name="name" id="name" class="profText1" type="text" value="@Model.user.name" /><br />
                        <input name="surname" id="surname" class="profText1" type="text" value="@Model.user.surname" /><br />
                        <select name="gender" id="gender">
                          <option value="m">Машко</option>
                          <option value="f">Женско</option>
                        </select>
                        <input name="dateOfBirth" class="kalendar profText1" id="dateOfBirth" type="text" value="@Model.dateOfBirth.ToString("dd.MM.yyyy")" /><br />
                        <input name="placeOfBirth" id="placeOfBirth" class="profText1" type="text" value="@Model.placeOfBirth" /><br />
                        <input name="phone" id="phone" class="profText1" type="text" value="@Model.phone" /><br />
                        <input name="email" id="email" class="profText1" type="text" value="@Model.email" /><br />

                        <select name="nationalityID" id="nationalityID" class="combobox" style="display: none; ">
                            @foreach (var nacionalnost in Model.nacionalnostDDL)
                            {
                                if (nacionalnost.ID == Model.nationality.ID)
                                {
                                     <option value="@nacionalnost.ID^@nacionalnost.text" selected="selected">@nacionalnost.text</option>
                                }
                                else
                                {
                                    <option value="@nacionalnost.ID^@nacionalnost.text">@nacionalnost.text</option>
                                }
                            }
                        </select>
                        <input type="hidden" name="nationality" id="nationality" />

                        <select name="martial" id="martial" class="no_new_combobox" style="display: none; ">
                            @foreach (var tmp in Model.martialDDL)
                            {
                                if (tmp.ID == Model.martialStatus.ID)
                                {
                                    <option value="@tmp.ID" selected="selected">@tmp.text</option> 
                                }
                                else
                                {
                                    <option value="@tmp.ID">@tmp.text</option>   
                                }
                            }
                        </select> 

                    </div> 
                </div><!-- kraj na info -->
            </div>

            <div class="profInteresi" id="interesi">
                <hr />
                <p class="profText"> Интереси: </p>
                <input type="button" id="addInteres" value="+" /><br />
                <input type="hidden" name="interests" id="interests" value=""/>
                @foreach (var tmp in Model.interests)
                {
                    <label>Интерес: </label>
                    <select class="combobox interestSelector" style="display: none; ">
                            @foreach (var interes in Model.InteresDDL)
                            {
                                if (interes.title.CompareTo(tmp.title) == 0)
                                {
                                    <option value="@interes.ID^@interes.title" selected="selected">@interes.title</option>
                                }
                                else
                                {
                                    <option value="@interes.ID^@interes.title">@interes.title</option>
                                }
                            }
                    </select><br />
                    <label>Опис: </label><input class="profText1 interestSelectorDescription" maxlength="1000" style="width:91%;height:50px;" type="text" value="@tmp.description" /><br />
                }
            </div>

            <div class="profInteresi" id="vestini">
                <hr />
                <p class="profText"> Вештини: </p>
                <input type="button" id="addVestini" value="+" /><br />
                <input type="hidden" name="skills" id="skills" value=""/>
                @foreach (var tmp in Model.skills)
                {
                    <label>Вештина: </label>
                    <!-- <input class="profText1" type="text" value="@tmp.title" /> --> 
                    <select class="combobox skillSelector" maxlength="100" style="display: none; ">
                            @foreach (var vestina in Model.SkillsDDL)
                            {
                                if (vestina.title.CompareTo(tmp.title) == 0)
                                {
                                    <option value="@vestina.ID^@vestina.title" selected="selected">@vestina.title</option>
                                }
                                else
                                {
                                    <option value="@vestina.ID^@vestina.title">@vestina.title</option>
                                }
                            }
                     </select>
                    <br />
                    <label>Опис: </label><input class="profText1 skillSelectorDescription" maxlength="1000" style="width:91%;height:50px;" type="text" value="@tmp.description" /><br />
                }
            </div>

            <div class="profInteresi" id="edu">
                <hr />
                <p class="profText"> Едукација: </p>
                <input type="button" id="addEdu" value="+" /><br />
                <input type="hidden" name="educationInstitutions" id="educationInstitutions" value=""/>
                @foreach (var tmp in Model.educationInstitutions)
                {
                    <label>Тип: </label>
                    <select class="eduTypeSelector">
                    @foreach (var temp in Model.EduTypeDDL)
                    {
                        if (temp.text.CompareTo(tmp.educationInstitution.text) == 0)
                        {
                            <option value="@temp.ID" selected="selected">@temp.text</option>
                        }
                        else
                        {
                            <option value="@temp.ID">@temp.text</option>
                        }
                    }
                    </select> 
                    
                    <label>Назив: </label>
                    
                    <select class="combobox eduInstSelector" style="display: none; ">
                        @foreach (var temp in Model.EduInstDDL)
                        {
                            if (temp.title.CompareTo(tmp.educationInstitution.title) == 0)
                            {
                                <option value="@temp.ID^@temp.title" selected="selected">@temp.title</option>
                            }
                            else
                            {
                                <option value="@temp.ID^@temp.title">@temp.title</option>
                            }
                        }
                    </select>
                    
                    <br />
                    <label>од: </label><input class="kalendar profText1 eduKalendarOdSel" type="text" value="@tmp.from.ToString("dd.MM.yyyy")" />
                    <label>до: </label><input class="kalendar profText1 eduKalendarDoSel" type="text" value="@{if (tmp.to != null)
                                                                                                               {
                                                                                                                   @Html.Raw((tmp.to ?? DateTime.Now).ToString("dd.MM.yyyy"));
                                                                                                               }}" /><br />
                    <label>Опис: </label><input class="profText1 eduOpisSel" maxlength="1000" style="width:91%;height:50px;" type="text" value="@tmp.description" /><br />
                }
            </div>

            <div class="profInteresi" id="exp">
                <hr />
                <p class="profText"> Работно искуство: </p>
                <input type="button" id="addExp" value="+" /><br />
                <input type="hidden" name="work" id="work" value=""/>
                @foreach (var tmp in Model.workInstitutions)
                {
                    <label>Назив: </label> <!-- <input class="profText1" type="text" value="@tmp.title" /> -->
                        <select class="combobox expInstSelector" maxlength="100" style="display: none; ">
                            @foreach (var rabInst in Model.WorkInstDDL)
                            {
                                if (rabInst.title.CompareTo(tmp.title) == 0)
                                {
                                    <option value="@rabInst.ID^@rabInst.title" selected="selected">@rabInst.title</option>
                                }
                                else
                                {
                                    <option value="@rabInst.ID^@rabInst.title">@rabInst.title</option>
                                }
                            }
                        </select> 
                    <br />
                    <label>од: </label><input class="kalendar expKalendarOdSel profText1" type="text" value="@tmp.from.ToString("dd.MM.yyyy")" />
                    <label>до: </label><input class="kalendar expKalendarDoSel profText1" type="text" value="@{if (tmp.to != null)
                                                                                                               {
                                                                                                                    @Html.Raw((tmp.to ?? DateTime.Now).ToString("dd.MM.yyyy"));
                                                                                                               }}" /><br />
                }
            </div>

            <div class="profInteresi" id="personC">
                <hr />
                <p class="profText"> Лични карактеристики: </p>
                <input type="button" id="addPersonC" value="+" /><br />
                <input type="hidden" name="characteristics" id="characteristics" value=""/>
                @foreach (var tmp in Model.characteristics)
                {
                    <label>Карактеристика: </label><input class="profText1 karakSel" maxlength="1000" style="width:75%" type="text" value="@tmp.title" /><br />
                }
            </div>

            <div class="profInteresi" id="course">
                <hr />
                <p class="profText"> Курсеви: </p>
                <input type="button" id="addCourse" value="+" /><br />
                <input type="hidden" name="courses" id="courses" value=""/>
                @foreach (var tmp in Model.courses)
                {
                    <label>Назив: </label><input class="profText1 courseNameSel" maxlength="100" type="text" value="@tmp.title" /><br />
                    <label>од: </label><input class="kalendar profText1 courseKalendarOdSel" type="text" value="@tmp.from_date.ToString("dd.MM.yyyy")" />
                    <label>до: </label><input class="kalendar profText1 courseKalendarDoSel" type="text" value="@{if (tmp.to != null)
                                                                                                                  {
                                                                                                                    @Html.Raw((tmp.to ?? DateTime.Now).ToString("dd.MM.yyyy"));
                                                                                                                  }}" /><br />
                    <label>Опис: </label><input class="profText1 courseOpisSel" maxlength="1000" style="width:91%;height:50px;" type="text" value="@tmp.description" /><br />
                }
            </div>

            <div class="profInteresi" id="ach">
                <hr />
                <p class="profText"> Достигнувања: </p>
                <input type="button" id="addAch" value="+" /><br />
                <input type="hidden" name="achievements" id="achievements" value=""/>
                @foreach (var tmp in Model.achievements)
                {
                    <label>Назив: </label><input class="profText1 achieveNameSel" maxlength="100" type="text" value="@tmp.what" />
                    <label>Дата: </label><input class="kalendar profText1 achieveKogaSel" maxlength="100" type="text" value="@tmp.when.ToString("dd.MM.yyyy")" /><br />
                    <label>Опис: </label><input class="profText1 achieveOpisSel" maxlength="1000" style="width:91%;height:50px;" type="text" value="@tmp.description" /><br />
                }
            </div>

            <div class="profInteresi" id="proj">
                <hr />
                <p class="profText"> Проекти: </p>
                <input type="button" id="addProj" value="+" /><br />
                <input type="hidden" name="project" id="project" value=""/>
                @foreach (var tmp in Model.projects)
                {
                    <label>Назив: </label><input class="profText1 projTitleSel" maxlength="100" type="text" value="@tmp.title" /><br />
                    <label>Опис: </label><input class="profText1 projDescSel" maxlength="1000" style="width:91%;height:50px;" type="text" value="@tmp.description" /><br />
                    <label>Соработници: </label>
                    <div style="max-height:300px;overflow: auto;">
                    <form>
                        @foreach (var sorabotnik in alumni.Controllers.Shared.sortedUsers)
                        {
                            <input title="proj_@(tmp.title)" class="projCoWorkersSel" type="checkbox" value="@sorabotnik.id" /> @sorabotnik.name @sorabotnik.surname <br />
                        }
                    </form>
                    </div>
                        if (tmp.users.Count > 1)
                        {
                            <label>&nbsp&nbsp&nbsp&nbsp Изработиле: </label> <br />
                            foreach (var user in tmp.users)
                            {
                                <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Име: </label><input class="profText1" type="text" value="@user.name" />
                                <label>Презиме: </label><input class="profText1" type="text" value="@user.surname" /><br />
                            }
                        }
                    <br />
                }
            </div>
        </div>
    </div>
    <input type="hidden" name="picture_url" value="@Model.user.picture_url" />
}
