﻿@model alumni.MetaModels.HisCV
@{
    ViewBag.Title = "Профил";
    ViewBag.Name = Model.user.name;
    ViewBag.Surname = Model.user.surname;
}
<script type="text/javascript">
    var zindex_times=0;
    $(document).ready(function () {
        $('.profSlika').hover(function () {
        //hover in
            $(this).css('overflow', 'visible');
            $(this).css('z-index', '120');
        }, function () {
            //hover in
            $(this).css('overflow', 'hidden');
            $(this).css('z-index', '10');
           });
    });
</script>
@using (Html.BeginForm())
{
    <div ="profileIndexDiv">

        <div class="profileOpciiDiv">
            Опции
            <br />
            <br />
            <a href="/Profile/EditCV"> <input id="Button1" type="button" value="Додади податоци" class="butonche"/> </a>
        </div>

        <div class="profileIndexBodyDiv">
            <div class="profInteresi">
                <div class="profSlika" style="position:relative; width: 150px; overflow: hidden; "> 
                    <img src="@Model.user.picture_url" alt="slika" width=150px style="width: 150px;"/>
                </div>
            <div class="userInfo">
                
                    <p class="userText">&nbsp&nbsp Име:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.user.name</font></p> 
                    <p class="userText">&nbsp&nbsp Презиме:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.user.surname</font></p>
                    <p class="userText">&nbsp&nbsp Пол:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.user.gender</font></p>
                    <p class="userText">&nbsp&nbsp Дата на раѓање:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp @Model.dateOfBirth</font></p>
                    <p class="userText">&nbsp&nbsp Место на раѓање:<font class="userText1">&nbsp&nbsp&nbsp @Model.placeOfBirth</font></p>
                    <p class="userText">&nbsp&nbsp Телефон:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.phone</font></p>
                    <p class="userText">&nbsp&nbsp e-маил:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.email</font></p>
                    <p class="userText">&nbsp&nbsp Националност:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Model.nationality.text</font></p>
                    <p class="userText">&nbsp&nbsp Брачна состојба:<font class="userText1">&nbsp&nbsp&nbsp&nbsp&nbsp @Model.martialStatus.text</font></p>
               
                  
            </div><!-- kraj na info -->
            </div>
            
            <div class="profInteresi">
                <hr />
                <p class="profText"> Интереси: </p>
                @foreach (var tmp in Model.interests)
                {
                    <p class="profText1"> @tmp.title - @tmp.description </p>
                }
            </div>

            <div class="profInteresi">
                <hr />
                <p class="profText"> Вештини: </p>
                @foreach (var tmp in Model.skills)
                {
                    <p class="profText1"> @tmp.title - @tmp.description </p>
                }
            </div>

            <div class="profInteresi">
                <hr />
                <p class="profText"> Едукација: </p>
                @foreach (var tmp in Model.educationInstitutions)
                {
                    <p class="profText1"> @tmp.educationInstitution.text - @tmp.educationInstitution.title (@tmp.from - @tmp.to)</p>
                    <p>&nbsp&nbsp&nbsp&nbsp @tmp.description </p>
                }
            </div>

            <div class="profInteresi">
                <hr />
                <p class="profText"> Работно искуство: </p>
                @foreach (var tmp in Model.workInstitutions)
                {
                    <p class="profText1"> @tmp.title (@tmp.from - @tmp.to) </p>
                }
            </div>

            <div class="profInteresi">
                <hr />
                <p class="profText"> Лични карактеристики: </p>
                @foreach (var tmp in Model.characteristics)
                {
                    <p class="profText1"> @tmp.title </p>
                }
            </div>

            <div class="profInteresi">
                <hr />
                <p class="profText"> Курсеви: </p>
                @foreach (var tmp in Model.courses)
                {
                    <p class="profText1"> @tmp.title (@tmp.from_date - @tmp.to) </p>
                    <p>&nbsp&nbsp&nbsp&nbsp @tmp.description </p>
                }
            </div>

            <div class="profInteresi">
                <hr />
                <p class="profText"> Достигнувања: </p>
                @foreach (var tmp in Model.achievements)
                {
                    <p class="profText1"> @tmp.what - @tmp.description (@tmp.when) </p>
                }
            </div>

            <div class="profInteresi">
                <hr />
                <p class="profText"> Проекти: </p>
                @foreach (var tmp in Model.projects)
                {
                    <p class="profText1"> @tmp.title - @tmp.description </p>
                    if (tmp.users.Count > 1)
                    {
                        <p>&nbsp&nbsp&nbsp&nbsp Изработиле: </p>
                        foreach (var user in tmp.users)
                        {
                        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @user.name @user.surname </p>
                        }
                    }
                }
            </div>

        </div>
    </div>
}